.listItem {
    display: flex;
    justify-content: space-around;
    margin: .7rem 0rem;
}

.listHeader {
    display: flex;
    justify-content: space-around;
    margin: .7rem 0rem;
    font-size: 20px;
    font-weight: bold;
}

.box {
    background-color: #FFFFFF;
    /* padding: 1rem 4rem; */
    /* margin: 0px; */
    text-align: center;
}

.familyName {
    width: 15vw;
}

.date {
    width: 10vw;
}

.assignment {
    width: 20vw;
}

.description {
    width: 30vw;
}